
$tablet1: "only screen and (min-width: 768px) and (max-width: 959px)";
$tablet2: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile: "only screen and (max-width: 479px)";

$color1: #ffffff;
$color2: #000000;
$color3: #cccccc;
$color4: #808080;
$color5: #a0d0ff;
$color6: #ff30a0;
$color7: #606060;
$color8: #80a0ff;
$color9: #a0a0a0;
$color10: #300080;

$colorheader1: $color4;
$colorp: $color4;
$colora: $color7;
$colorgrid: $color5;
$coloraxis: $color10;
$colordot: $color6;
$colorbutton1: $color5;
$colorbutton2: $color3;
$colorhighlight1: $color8;
$colorhighlight2: $color9;
$colorbackground: $color1;

$font1: opensansbold, verdana, sans-serif;
$font2: opensansregular, helvetica, sans-serif;

$size1: 2em;
$size2: 1.8em;
$size3: 1.5em;
